$primary-color: #c5e5f4;
$secondary-color: #d8c7ac;
$primary-dark-color: #3f5b74;
$success-color: #54af46;
$danger-color: #c63947;
$warning-color: #efba18;
$info-color: #c5cef4;
$light-color: #f7f7f7;
$dark-color: #2b333b;

@use "../node_modules/bootstrap/scss/bootstrap" as * with (
  $primary: $primary-color,
  $secondary: $secondary-color,
  $success: $success-color,
  $danger: $danger-color,
  $warning: $warning-color,
  $info: $info-color,
  $light: $light-color,
  $dark: $dark-color,
  $theme-colors: (
    "primary": $primary-color,
    "primary-dark": $primary-dark-color,
    "secondary": $secondary-color,
    "success": $success-color,
    "danger": $danger-color,
    "warning": $warning-color,
    "info": $info-color,
    "light": $light-color,
    "dark": $dark-color,
  )
);

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {

    @each $display, $value in $display-font-sizes {
      .display-#{$breakpoint}-#{$display} {
        font-size: $value !important;
        font-weight: $display-font-weight;
        line-height: $display-line-height;
      }
    }

    @each $size, $value in $font-sizes {
      .fs-#{$breakpoint}-#{$size} {
        font-size: $value !important;
      }
    }

    .text-#{$breakpoint}-wrap {
      white-space: normal !important;
    }
    .text-#{$breakpoint}-nowrap {
      white-space: nowrap !important;
    }
    .text-#{$breakpoint}-truncate {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
    }

  }
}

p, h5 {
    margin: 0;
}

.col-md-12 {
    padding:0;
}

.logo {
    width: 12vw;
    max-width: 140px;
    min-width: 50px;
    height: auto;
}

.intro {
    width: 50vw;
    max-width: 500px;
    min-width: 30px;
    height: auto;
}